.App {
  text-align: center;
  height: 100vh;
}
nav{
  background: rgb(8, 94, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  justify-content: space-between;

}
.logo{
  font-size: 28px;
  margin: 0 50px;
  color: #fff;

}
nav li{
  display: inline-block;
  margin: 0 20px;

}
a{
  text-decoration: none;
  color: #fff;
}
nav a:hover{
  color: rgb(0, 0, 0);
}
footer{
  color: #fff;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  padding: 30px;
  text-align: center;
  background: rgb(19, 19, 19);
}
.component{
  width: 80%;
  margin: 50px auto;
}
.component p{
  line-height: 28px;
}